includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app
    scanDirectories:
        - ./helpers

    ignoreErrors:

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
